/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html, body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-size: 14px;
  font-family: Microsoft Yahei In-Bold, Microsoft Yahei, 微软雅黑, Apple LiGothic Medium;
  color: #222222; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

label {
  position: relative;
  z-index: 2;
  display: inline-block; }

.fix {
  zoom: 1; }

.fix:before, .fix:after {
  content: "";
  display: table;
  clear: both; }

.fleft {
  float: left; }

.fright {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, .title_1 {
  font-size: 38.5px;
  line-height: 40px;
  font-weight: normal; }

h2, .title_2 {
  font-size: 31.5px;
  line-height: 40px;
  font-weight: normal; }

h3, .title_3 {
  font-size: 21px;
  line-height: 40px;
  font-weight: normal; }

h4, .title_4 {
  font-size: 21px;
  line-height: 40px;
  font-weight: normal; }

h5, .title_5 {
  font-size: 14px;
  line-height: 40px;
  font-weight: bold; }

h6, .title_6 {
  font-size: 11.9px;
  line-height: 40px;
  font-weight: bold; }

p {
  margin: 10px 0 10px 0;
  line-height: 1.5;
  font-size: 13px; }

.fix {
  zoom: 1; }

.fix:before, .fix:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #F1F1F1; }

body {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.music {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  background-image: url(../images/mon.png);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 10px #111;
  z-index: 999999999;
  opacity: 0.8;
  display: none; }
  .music.pause {
    background-image: url(../images/moff.png); }
  .music .btn {
    width: 100%;
    height: 100%; }

.main {
  width: 100%;
  position: relative; }
  .main .board {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: all ease-in 2s;
    opacity: 0; }
    .main .board p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100px;
      display: block;
      color: white;
      -webkit-transition: all ease-in 2s 2s;
      opacity: 0;
      font-size: 20px;
      padding: 20px;
      margin: 0;
      background: rgba(0, 0, 0, 0.3); }
    .main .board.active {
      opacity: 1; }
      .main .board.active p {
        -webkit-transform: translateY(-100px);
        opacity: 1;
        text-shadow: 2px 2px #111; }
    .main .board.pic_1 {
      background-image: url(../images/pics/1.jpg); }
    .main .board.pic_2 {
      background-image: url(../images/pics/2.jpg); }
    .main .board.pic_3 {
      background-image: url(../images/pics/3.jpg); }
    .main .board.pic_4 {
      background-image: url(../images/pics/4.jpg); }
    .main .board.pic_5 {
      background-image: url(../images/pics/5.jpg); }
    .main .board.pic_6 {
      background-image: url(../images/pics/6.jpg); }
    .main .board.pic_7 {
      background-image: url(../images/pics/7.jpg); }
    .main .board.pic_8 {
      background-image: url(../images/pics/8.jpg); }
    .main .board.pic_9 {
      background-image: url(../images/pics/9.jpg); }
    .main .board.pic_10 {
      background-image: url(../images/pics/10.jpg); }
    .main .board.pic_11 {
      background-image: url(../images/pics/11.jpg); }
    .main .board.pic_12 {
      background-image: url(../images/pics/12.jpg); }

.nnbtn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #4DB849;
  opacity: 0.2;
  -webkit-transition: all ease-out 0.2s; }
  .nnbtn.hover {
    opacity: 0; }
