@import "reset.scss";
html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#F1F1F1;
}
body{
    background:url(../images/bgg.png);
}
.loading{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:999999999;
    background:url(../images/bgg.png);
    .cake{
        position: absolute;
        left:0;
        right:0;
        bottom:100px;
        top:0;
        background:url(../images/bggg.png) no-repeat center;
    }
    .progress{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        height:50px;
        background:rgba(183,162,124,.5);
        .bar{
            width:0;
            height:50px;
            background:rgba(77,184,73,.9);
        }
    }
}
.music{
    position: absolute;
    right:10px;
    top:10px;
    width:40px;
    height:40px;
    -webkit-border-radius: 20px;
    background-image:url(../images/mon.png);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 10px #111;
    z-index:999999999;
    opacity:0.8;
    display:none;
    &.pause{
        background-image:url(../images/moff.png);
    }
    .btn{
        width:100%;
        height:100%;
    }
}
.main{
    width:100%;
    position:relative;
    .board{
        width:100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        p{
            position: absolute;
            left:0;
            right:0;
            bottom:-100px;
            display:block;
            color:white;
            -webkit-transition:all ease-in 2s;
            opacity:0;
            font-size:20px;
            padding:20px;
            margin:0;
            background:rgba(0,0,0,.3);
        }
        &.active{
            p{
                -webkit-transform:translateY(-100px);
                opacity:1;
                text-shadow: 1px 1px #111;
            }
        }
        &.pic_1{
            background-image: url(../images/pics/1.jpg);
        }
        &.pic_2{
            background-image: url(../images/pics/2.jpg);
        }
        &.pic_3{
            background-image: url(../images/pics/3.jpg);
        }
        &.pic_4{
            background-image: url(../images/pics/4.jpg);
        }
        &.pic_5{
            background-image: url(../images/pics/5.jpg);
        }
        &.pic_6{
            background-image: url(../images/pics/6.jpg);
        }
        &.pic_7{
            background-image: url(../images/pics/7.jpg);
        }
        &.pic_8{
            background-image: url(../images/pics/8.jpg);
        }
        &.pic_9{
            background-image: url(../images/pics/9.jpg);
        }
        &.pic_10{
            background-image: url(../images/pics/10.jpg);
        }
        &.pic_11{
            background-image: url(../images/pics/11.jpg);
        }
        &.pic_12{
            background-image: url(../images/pics/12.jpg);
        }
    }
}

.nnbtn{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#4DB849;
    opacity:.2;
    -webkit-transition:all ease-out .2s;
    &.hover{
        opacity:0
    }
}